<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div style="position: fixed; top: 10px; font-family: sans-serif; font-size: 30px; left: 414px;"> <span id="score"></span></div>
<canvas id='board_canvas'></canvas>
<canvas id='shadow_canvas'></canvas>
<canvas id='animated_canvas'></canvas>
</body>
</html>
