<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div>
    <h1 class='code'>De code is :</h1>
    <span class='code' id='code'></span>
</div>
<canvas id='board_canvas'></canvas>
<canvas id='shadow_canvas'></canvas>
<canvas class='animated_canvas' id='animated_canvas'></canvas>
<script src='http://127.0.0.1:6006/socket.io/socket.io.js'></script>
<script>window.io = io;</script>
</body>
</html>
