<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div>
    <h1 class='code-heading'>De code is:</h1>
    <span class='code' id='code'></span>
</div>
<div class='canvasses'>
  <canvas id='board_canvas'></canvas>
</div>
<div id='state-text' class='state-text'></div>
<script src='http://127.0.0.1:6006/socket.io/socket.io.js'></script>
<script>try{window.io = io;}catch(e){}</script>
</body>
</html>
